<!DOCTYPE html>
<html>
  <%- include("templates/header") %>

  <body>
    <section class="section">
      <div class="maincolumns columns is-desktop is-vcentered">
        <div
          class="column is-8 is-offset-2 container"
        >
          <figure class="image is-3000x5000">
            <img
              src="backlogo.png"
            />
          </figure>
        </div>
      </div>
    </section>
  </body>
</html>
