<!DOCTYPE html>
<html>
    <%- include("templates/header") %> 
  <body>
    <section class="section">
      <div class="maincolumns columns is-desktop is-vcentered">
        <div
          class="column is-10 is-offset-1 notification is-info is-light box container"
        >
          <div class="column">
                        <h1 class="title is-1">Links</h1>

          </div>
          <div class="column">
            <div class="columns is-centered">
            </div>
            <div class="columns is-centered">
              <table class="table">
                <thead>
                  <tr>
                    <th>URL</th>
                    <th>Short URL</th>
                    <th>Hits</th>
                    <th>Active</th>
                    <th>Created</th>
                    <th>Last Hit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="https://www.google.com" title="www.Google.com"
                        >https://www.google.com</a
                      >
                      <strong></strong>
                    </td>
                    <td>
                      <a href="https://www.google.com" title="www.Google.com"
                        >www.google.com</a
                      >
                      <strong></strong>
                    </td>
                    <td>5</td>
                    <td>
                      <input type="checkbox" />
                    </td>
                    <td>Aug 8</td>
                    <td>Aug 11</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column">
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
