<%- include("templates/header") %> 
<body>
    <h1>Hello <%= nameOfUser %></h1>
    <form action='/members' method='get'>
        <button>DB Members</button>
        </form>
        <form action='/logout' method='get'>
        <button>Log out!</button>
    </form>
</body>
</html>