<!DOCTYPE html>
<html>
<%- include("templates/header") %>
<body>
    <section class="section">
      <div class="maincolumns columns is-desktop is-vcentered">
        <div
          class="column is-10 is-offset-1 notification is-info is-light box container"
        >
          <div class="column">
                <h1 class="title is-1">Text</h1>
          </div>
          <div class="column">
            <h3 class="title is-6">New Text/Paste</h3>
          </div>
          <div class="column">
            <input class="input is-small" style="width:fit-content" name="text-title" type="text" placeholder="Text name">
          </div>
          <div class="column">
            <textarea class="textarea" name="text-content" placeholder="Paste something!" rows="10"></textarea>
            <br>
            <button class="button is-success">Create a new text</button>
          </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>